# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.claude/settings.local.json
.agents/
.kilo/


# IDE / Editor config
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
